/*variables*/

:root {
	--body-font: 'Figtree', sans-serif;

	--p-shade-80: #050B12;
	--p-shade-50: #0e1b2d;
	--p-shade-30: #13263e;
	--p-shade-20: #162b47;
	--primary: #001633;
	--p-tint-40: #76869b;
	--p-tint-90: #e8ebee;
	--secondary: #15C2DA;
	--tertiary: #8e03b5;

	--global-border-radius: 4px;
	--global-transition: all .2s ease-in-out;
}


html {
	font-size: 16px;
}

body {
	font-family: var(--body-font);
	background-color: var(--primary);
	color: var(--p-tint-90);
}

figure {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	padding: 4rem 3rem;
}

/* Typography */

p {
	margin: 0 0 1.5rem;
}

h1 {
	font-size: 2.375rem;
	line-height: 1.25;
    margin-right: 1rem;
}

h2 {
	font-size: 1.75rem;
	line-height: 1.15;
	margin: 0 0 .5rem;
}

h3 {
	font-size: .8rem;
	line-height: 1.25;
	margin: 0;
}

small,
.form-msg,
.city__country {
	font-size: .75rem;
	line-height: 1.5;
}

a {
	color: var(--secondary);
	text-decoration: none;
	transition: var(--global-transition);
}

a:hover {
	color: var(--p-tint-90);
}

.head{
    display: flex;
    align-items: center;
}

/* ================================================= */
/*Form*/
/* ================================================= */

form {
    width: 100%;
    margin-bottom: 2rem;
    max-width: 30rem;
}

label{
    margin-bottom: .5rem;
    display: block;
}

input{
    border-radius: var(--global-border-radius);
    border: none;
}

input[type="text"]{
    height: 2.7rem;
    background-color: var(--p-shade-30);
    color: var(--p-tint-90);
    outline: none;
    flex-grow: 1;
    transition: var(--global-transition);
    padding-left: 2rem;
}

input[type="text"]:focus{
    background-color: var(--p-tint-90);
    color: var(--p-shade-50);
}

input::placeholder{
    color: var(--p-tint-40);
}

.form-row{
    display: flex;
    gap: .5rem;
}

form button{
    height: 2.75rem;
    width: 2.75rem;
    background-color: var(--secondary);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--global-border-radius);
    transition: var(--global-transition);
}

button:hover{
    background-color: var(--p-shade-30);
    color: var(--secondary);
}

button:active{
    background-color:var(--p-shade-50);
}

.form-msg{
    background-color: var(--p-shade-20);
    padding: .5rem 1rem;
    border-radius: 0 0 var(--global-border-radius) var(--global-border-radius);
    margin-left: .7rem;
    width: 75%;
    transform: translate3d(0 ,-100%,0);
    opacity:0;
    z-index: -1;
    position: relative;
    transition: var(--global-transition);
}

.form-msg.visible{
    transform: translate3d(0 ,0,0);
    opacity:1;
    z-index: 1;
}


/* ================================================= */
/* Cities */
/* ================================================= */

.cities{
    display: grid;
    padding: 0;
    list-style: none;
    gap: 2rem;
    margin:0 0 4rem;
}

.cities >li{
    display: flex;
    gap: 1.5rem;
    background-color: #ffffffee;
    align-items: center;
    padding: 1.5rem;
    color: var(--p-shade-80);
    border-radius: var(--global-border-radius);
    box-shadow: 1px 1px 0px #1f9dc0c8,
    2px 2px 0px #1f9dc0c8,
    3px 3px 0px #1f9dc0c8,
    4px 4px 0px #1f9dc0c8,
    5px 5px 0px #1f9dc0c8,
    6px 6px 0px #1f9dc0c8;
}

.city_condition{
    color: var(--p-tint-40);
    margin-bottom: 1rem;
}

.city_country{
    color: #fff;
    background-color: var(--tertiary);
    padding: .125rem .25rem;
    border-radius: var(--global-border-radius);
    margin-left: .5rem;
}

/* ================================================= */
/* little bit animation */
/* ================================================= */

li:hover figure{
    animation: mover 2s ease-out infinite;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* ================================================= */
/* 560px+ */
/* ================================================= */
@media screen and (min-width: 560px) {
	.cities {
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	}

	.cities li {
		flex-direction: column;
		text-align: center;
	}

	.city__conditions {
		margin-bottom: 1.5rem;
	}
}



/* ================================================= */
/* 768px+ */
/* ================================================= */

@media screen and (min-width: 768px) {
	.notification {
		padding: .5rem 4rem;
	}

	.container {
		padding: 4rem;
	}
}

/* ================================================= */
/* 410px- */
/* ================================================= */



@media screen and (max-width: 410px) {
	h1{
        font-size: 1.8rem;
    }
    .container {
        padding: 3rem 2rem;
    }
    
}
